{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block body %}
    <h1>Books</h1>

    {% for message in app.flashes('success') %}
        <div class="flash-message success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-message error">{{ message }}</div>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publicationYear }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-info btn-sm">View</a>
                    <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{{ path('book_delete', { 'id': book.id }) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
